@import "tailwindcss";

:root {
  --color-palette-raspberry: #ff8c93;
  --color-palette-thistle: #dedede;
  --color-palette-beige: #dfdfdf;
  --color-palette-teal: #858585;
  --color-palette-grey: #323232;
}

.apple-font {
  font-family:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
    "Helvetica Neue", Arial, sans-serif;
}

@theme {
  --color-palette-raspberry: #d3ff47;
  --color-palette-thistle: #d7f0d0;
  --color-palette-beige: #ef00d1;
  --color-palette-teal: #f7ba99;
  --color-palette-grey: #ffff30;
}
